<div id='row1' class="container-fluid" style="height:800px;background-image:url('/assets/landingpage-c-and-e.png');background-repeat: no-repeat;background-size: 100% auto;background-position: center top;background-attachment: fixed;">
  <div class="row-fluid">
    <div class="col-md-12">
      <audio id="intro" src="/assets/landing_mix.mp3"></audio>
    </div>
  </div>
</div>
<div id='row2' class="container-fluid" style="height:440px;background-image:url('/assets/hair-accessories2.png');background-repeat: no-repeat;background-size: 100% auto;background-position: center top;background-attachment: fixed;">
  <div class="row-fluid">
    <div class="col-md-8 col-md-offset-2" style="height:400px;">
      <div id="trigger"></div>
      <div id="target">
        <img id="plane" src="/assets/eagle-2.png"/>
      </div>
      <div style="position: absolute;top: 0;left: 0;">
        <h1 class="text-center">Stories of Language Preservation</h1>

        <h3>
          In the beginning there was a Coyote and an Eagle. The old coyote was a trickster who was native to the urban
          area, while the wise Eagle was from the rural reservation. Together they created this story-telling platform
          to learn, preserve, interact and share our diverse Native languages and cultures. The conversation started
          with a hello.
        </h3>

        <div style="text-align:center;">
          <audio controls style="width:400px;margin-top:10px;margin: 0 auto;">
            <source src="/assets/hellos.mp3" type="audio/mpeg">
            <p>Your browser does not support the audio element.</p>
          </audio>
        </div>
      </div>
    </div>
  </div>
</div>
<div id='row3' class="container-fluid" style="height:550px;background-image:url('/assets/haircut-2.png');background-repeat: no-repeat;background-size: 100% auto;background-position: center top;background-attachment: fixed;">
  <div class="row-fluid">
    <div class="col-md-12" style="padding:0;">
      <h1 class="text-center" style="color:#fff;font-size:45px;margin-bottom:60px;text-shadow: 2px 2px #000000;">Everyone has their own language path.</h1>
      <% @beginning_answers.each do |ba| %>
          <div class="col-md-4" style="height:250px;">
            <table class="table caption">
              <tr>
                <td>
                  <img src="<%= ba.person.thumbnail %>" style="width:150px;height:150px;"/>

                  <div style='font-size:20px;color:#000;text-align:center;'>
                    <%= ba.person.name %><br/>
                    <%= ba.person.tribe_name %>
                  </div>
                </td>
                <td>
                  <blockquote><h3 style="font-size:100%;color:#000;"><%= ba.answer %></h3>
                    <audio controls style="width:110%;margin-top:10px;">
                      <source src="<%= ba.audios.first.path %>" type="audio/mpeg">
                      <p>Your browser does not support the audio element.</p>
                    </audio>
                  </blockquote>
                </td>
              </tr>
            </table>
          </div>
      <% end %>
    </div>
  </div>
</div>
<div id='row4' class="container-fluid" style="height:400px;background-color:#290a59;background-size: 100% auto;">
  <div class="row-fluid">
    <div class="col-md-12" style="padding:0;">
      <h1 class="text-center" style="color:#fff;font-size:45px;margin-left:200px;margin-right:200px;text-shadow: 2px 2px #333333;">
        Coyote begins his own path by looking for Eagle to learn more about his language and culture.<br/>
        <audio controls style="width:300px;margin-top:10px;">
          <source src="/assets/coyote howl.mp3" type="audio/mpeg">
          <p>Your browser does not support the audio element.</p>
        </audio>
      </h1>

      <div style="padding-top:60px;">
        <video width="100%" autoplay loop preload>
          <source src="/assets/first_scene_test.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </div>
</div>
<div id='row5' class="container-fluid" style="height:550px;background-color:#ccc;background-image:url('/assets/ras-feet.png');background-repeat: no-repeat;background-size: 100% auto;background-position: center top;background-attachment: fixed;">
  <div class="row-fluid">
    <div class="col-md-12" style="padding:0;">
      <h1 class="text-center caption" style="color:#000;font-size:45px;margin-bottom:60px;margin-left:200px;margin-right:200px;text-shadow: 2px 2px #ffffff;">
      The language path is layered with your own experiences.
      </h1>
      <% @intermediate_answers.each do |ia| %>
          <div class="col-md-4" style="height:250px;">
            <table class="table caption">
              <tr>
                <td>
                  <img src="<%= ia.person.thumbnail %>" style="width:150px;height:150px;"/>

                  <div style='font-size:20px;color:#000;text-align:center;'>
                    <%= ia.person.name %><br/>
                    <%= ia.person.tribe_name %>
                  </div>
                </td>
                <td>
                  <blockquote><h3 style="font-size:100%;color:#000;"><%= ia.answer %></h3>
                    <audio controls style="width:110%;margin-top:10px;">
                      <source src="<%= ia.audios.first.path %>" type="audio/mpeg">
                      <p>Your browser does not support the audio element.</p>
                    </audio>
                  </blockquote>
                </td>
              </tr>
            </table>
          </div>
      <% end %>
    </div>
  </div>
</div>
<div id='row6' class="container-fluid" style="height:400px;background-color:#000;">
  <div class="row-fluid">
    <div class="col-md-12" style="padding:0;">
      <h1 class="text-center" style="color:#fff;font-size:45px;margin-left:200px;margin-right:200px;text-shadow: 2px 2px #000000;">Friend,
        we have so much to learn from each others paths.
        <br/>
        <audio controls style="width:300px;margin-top:10px;">
          <source src="/assets/eagle call.mp3" type="audio/mpeg">
          <p>Your browser does not support the audio element.</p>
        </audio>
      </h1>

      <div style="padding-top:60px;">
        <video width="100%" autoplay loop preload>
          <source src="/assets/eagleandcoyote_last_scene.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </div>
</div>

<div id='row7' class="container-fluid" style="height:550px;background-color:#dcdcdc;background-image:url('/assets/road-2.png');background-repeat: no-repeat;background-size: 100% auto;background-position: center top;background-attachment: fixed;">
  <div class="row-fluid">
    <div class="col-md-12" style="padding:0;">
      <h1 class="text-center" style="color:#000;font-size:45px;margin-bottom:60px;margin-left:200px;margin-right:200px;text-shadow: 2px 2px #fff;">Learn. Speak. Preserve.</h1>
      <% @advanced_answers.each do |aa| %>
          <div class="col-md-4" style="height:300px;">
            <table class="table caption">
              <tr>
                <td>
                  <img src="<%= aa.person.thumbnail %>" style="width:150px;height:150px;"/>

                  <div style='font-size:20px;color:#000;text-align:center;'>
                    <%= aa.person.name %><br/>
                    <%= aa.person.tribe_name %>
                  </div>
                </td>
                <td>
                  <blockquote><h3 style="font-size:100%;color:#000;"><%= aa.answer %></h3>
                    <audio controls style="width:110%;margin-top:10px;">
                      <source src="<%= aa.audios.first.path %>" type="audio/mpeg">
                      <p>Your browser does not support the audio element.</p>
                    </audio>
                  </blockquote>
                </td>
              </tr>
            </table>
          </div>
      <% end %>
    </div>
  </div>
</div>
<div id='row7' class="container-fluid" style="height:400px;background-color:#aedcfd;">
  <div class="row-fluid">
    <div class="col-md-12" style="padding:0;">
      <h1 class="text-center" style="color:#fff;font-size:45px;margin-left:200px;margin-right:200px;text-shadow: 2px 2px #000000;">Eagle
        continues his story-telling path by leaving this platform and hoping for contributions.
        <br/>
        <audio controls style="width:300px;margin-top:10px;">
          <source src="/assets/eagle call.mp3" type="audio/mpeg">
          <p>Your browser does not support the audio element.</p>
        </audio>
      </h1>

      <div style="padding-top:50px;margin-bottom:-5px;">
        <video width="100%" autoplay loop preload>
          <source src="/assets/eagle.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </div>
</div>
<div id='row8' class="container-fluid" style="padding:0;">
  <div class="row-fluid">
    <div class="col-md-12 content-section video-section" style="padding:0;height:800px;">
      <div class="pattern-overlay">
        <a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=GMu-ODBSzDU',containment:'.video-section', quality:'large', autoPlay:true, mute:true, opacity:1}">bg</a>

        <h1 class="text-center">Interaction</h1>

        <h3 class="text-center">
          <a href="https://twitter.com/intent/tweet?button_hashtag=CoyoteAndEagle&text=My%20language%20story%20is%20about">Share
            your experience</a></h3>

        <div class="col-md-4 col-md-offset-2">
          <h3 class="text-center">
            <img src="/assets/tribeca_ndn.jpg" style="height:400px;"/>
          </h3>
        </div>
        <div class="col-md-4">
          <h3 class="text-left">
            <b>Coyote and Eagle</b><br/>
            http://www.coyoteandeagle.com<br/><br/>
            Members<br/>
            Ras K'dee<br/>
            Leo Vicenti<br/>
            Dwayne Joe<br/>
            Feather Metsch<br/>
            Paul Beccio<br/>
            <br/>
            Github<br/>
            https://github.com/whistlepost/coyoteandeagle
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div id='footer' class="container-fluid" style="height:150px;background-color:#000;background-image:url('');background-repeat: no-repeat;background-size: 100% auto;background-position: center top;background-attachment: fixed;">
  <div class="row-fluid">
    <div class="col-md-12" style="padding:0;">
      <h3 style="padding-left:20px;">coyote & eagle dot com<br/>
        <a class="twitter-hashtag-button"
           href="https://twitter.com/intent/tweet?button_hashtag=CoyoteAndEagle&text=My%20language%20story%20is%20about"
           data-related="twitter">
          Tweet #CoyoteAndEagle
        </a>
        <script type="text/javascript">
            window.twttr = (function (d, s, id) {
                var t, js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {
                    return
                }
                js = d.createElement(s);
                js.id = id;
                js.src = "https://platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
                return window.twttr || (t = {
                            _e: [], ready: function (f) {
                                t._e.push(f)
                            }
                        })
            }(document, "script", "twitter-wjs"));
        </script>
      </h3>

    </div>
  </div>
</div>


<script>
    $(document).ready(function ($) {
        document.getElementById("intro").play();
        var flightpath = {
            entry: {
                curviness: 1.25,
                autoRotate: true,
                values: [
                    {x: 100, y: -20},
                    {x: 300, y: 10}
                ]
            },
            looping: {
                curviness: 1.25,
                autoRotate: true,
                values: [
                    {x: 510, y: 60},
                    {x: 620, y: -60},
                    {x: 500, y: -100},
                    {x: 380, y: 20},
                    {x: 500, y: 60},
                    {x: 580, y: 20},
                    {x: 620, y: 15}
                ]
            },
            leave: {
                curviness: 1.25,
                autoRotate: false,
                values: [
                    {x: 660, y: 20},
                    {x: 800, y: 130},
                    {x: $(window).width() + 0, y: -10},
                ]
            }
        };
        // init controller
        var controller = new ScrollMagic();

        // create tween
        var tween = new TimelineMax()
                .add(TweenMax.to($("#plane"), 1.2, {css: {bezier: flightpath.entry}, ease: Power1.easeInOut}))
                .add(TweenMax.to($("#plane"), 2, {css: {bezier: flightpath.looping}, ease: Power1.easeInOut}))
                .add(TweenMax.to($("#plane"), 1, {css: {bezier: flightpath.leave}, ease: Power1.easeInOut}));

        // build scene
        var eagle = new ScrollScene({triggerElement: "#trigger", duration: 900, offset: 100})
                .setPin("#target")
                .setTween(tween)
                .addTo(controller);

        var row3 = new ScrollScene({})
                .addTo(controller);

        var row4 = new ScrollScene({})
                .addTo(controller);

        var row5 = new ScrollScene({})
                .addTo(controller);


    });
    $(document).ready(function () {

        $(".player").mb_YTPlayer();

    });
</script>